body {
  background: url(../img/backdrop.png) repeat right;
  background-size: cover;
  font-family: 'Sunflower', sans-serif;
}

/* Navbar Styling */

#logo {
  height: 40px;
}

/* Header styling */

.main {
  box-sizing: border-box;
  text-align: center;
  padding: 50px 0 40px 0;
  background: linear-gradient(black, transparent 100%),
              url('../img/mainimage.jpg') no-repeat center;
  background-size: cover;
  font-size: 1.5em;
  color: white;
  box-shadow: 0px 5px 2px 1px rgba(34,34,34,0.6);
}

.main h1 {
  font-size: 3em;
  opacity: 1;
  font-weight: 700;
}

#mainentity {
  font-size: 3em;
}

/* Gallery Styling */
.gallerycontainer {
  margin: auto;
}
.gallery {
  width: 50%;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 3em;
  text-shadow: -2px -2px 8px black;
  padding: 25px 0 15px 0;
  border-bottom: 1.5px solid rgba(34,34,34,0.8);
  border-right: none;
  width: 70%;
  box-shadow: 0 8px 6px -5px black;

}

.card {
  box-shadow: 4px 5px 6px rgba(34,34,34,0.6);
}

.card h5 {
  font-weight: 700;
}

.card-columns {
  padding: 20px 40px;
}

.gallerycontent {
  padding-top: 40px;
}

.aboutmecontainer .card {
    margin-bottom: 40px;
    background-color: rgba(34,34,34,0.8);
    color: white;
}

.aboutmecontainer .card h2 {
  font-weight: bolder;
}

/* Footer Styling */

footer {
  padding: 10px;
  background-color: rgba(22, 22, 22, 0.8);
  color: white;
}

/* About Me Styling */
#aboutme {
  height: 350px;
  float: left;
  margin-right: 20px;
}

#bio {
  float: right;
}

.aboutmecontainer {
  padding-top: 40px;
}
