body {
  background: url(../img/backdrop.png) repeat right;
  background-size: cover;
  font-family: 'Sunflower', sans-serif;
}

/* Navbar Styling */

#logo {
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid black;
  background: repeating-linear-gradient(
  135deg,
  #dfb34e,
  #dfb34e 10px,
  #52a19a 10px,
  #52a19a 20px,
  #bc5e6e 20px,
  #bc5e6e 30px
);
  color: white;
  font-weight: 700;
}

/* Header styling */

.main {
  box-sizing: border-box;
  text-align: center;
  padding: 50px 0 40px 0;
  background: linear-gradient(black, transparent 100%),
              url('../img/mainimage.jpg') no-repeat center;
  background-size: cover;
  font-size: 1.5em;
  color: white;
  box-shadow: 0px 5px 2px 1px rgba(34,34,34,0.6);
}

.main h1 {
  font-size: 3em;
  opacity: 1;
  font-weight: 700;
}

#mainentity {
  font-size: 2.7em;
}

/* Gallery Styling */
.gallerycontainer {
  margin: auto;
}
.gallery {
  width: 50%;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 3em;
  text-shadow: -2px -2px 8px black;
  padding: 25px 0 15px 0;
  border-bottom: 1.5px solid rgba(34,34,34,0.8);
  border-right: none;
  width: 70%;
  box-shadow: 0 8px 6px -5px black;

}

.card {
  box-shadow: 4px 5px 6px rgba(34,34,34,0.6);
}

.card h5 {
  font-weight: 700;
}

.card-columns-mainpage {
  padding: 20px 40px;
}

.gallerycontent {
  padding-top: 40px;
}

.aboutmecontainer .card {
    margin-bottom: 40px;
    background-color: rgba(34,34,34,0.8);
    color: white;
}

.aboutmecontainer .card h2 {
  font-weight: bolder;
}

/* Footer Styling */

footer {
  padding: 10px;
  background-color: rgba(22, 22, 22, 0.8);
  color: white;
}

/* About Me Styling */
#aboutme {
  height: 325px;
  float: left;
  margin-right: 20px;
}

.aboutmecontainer {
  padding-top: 40px;
}

.aboutmecontainer span:hover {
 color: red;
}

.ed-img li{
  list-style: none;
  list-style-position: inside;

}

.ed-img img {
  height: 60px;
  margin: 10px 10px;
  border-radius: 50%;
  border: 2px solid black;
  transition: transform .6s ease-in-out;
}

.ed-img img:hover {
  transform: rotate(720deg);
}
